.forgot{
    background-size: cover;
    font-size: 16px;
    
    background-position: center;
    height: 520px;
    background-image: url("https://img.freepik.com/premium-vector/landing-page-illustration-design-people-forgot-her-password_108061-334.jpg");
  }
  
    .reset-form {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 385px; 
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #bdbaba;
      margin-bottom: 100px;
      position: relative;
      height: 200px;
      float: right;
      right: 156px;
      top: 170px;
    }
  
    .error {
      color: red;
      font-size: 14px;
    }
    
    .reset-btn:hover {
      background-color: #0056b3;
    }
  
    .reset-btn {
      background-color: #04070e;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
  
    