* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: calc(100vw / 1920 * 10);
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 1rem;
}

@media screen and (max-width: 1200px) { 
    html {
        font-size: calc(100vw / 1000 * 10);
        font-family: 'Roboto', sans-serif;
    }
}

@media screen and (max-width: 600px) { 
    html {
        font-size: calc(100vw / 600 * 10);
        font-family: 'Roboto', sans-serif;
    }
}

